<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Emerald Complete Testing Flow" />

	<!-- Browser Data -->
	<parameter name="browser" value="chrome" />

	<!-- URL Links and Data -->
	<parameter name="URL" value="https://emeralddev.cubefunder.com/" />
	<parameter name="CreateApplication_URL" value="https://emeralddev.cubefunder.com/applications" />

	<!-- Navigated Pages title Data -->
	<parameter name="LoginExpectedtitle" value="Emerald | Login" />
	<parameter name="CreateApplication_Expectedtitle" value="Emerald | Application" />

	<!-- Username and password Data -->
	<parameter name="ValidUsername" value="zulfiqar" />
	<parameter name="ValidPassword" value="Us@12e34" />
	<parameter name="InvalidUsername" value="Abcd123456" />
	<parameter name="InvalidPassword" value="123456Abcdef" />

	<!-- Login Page Text and error message Data -->

	<parameter name="LoginText" value="Log In" />
	<parameter name="Usernametooltip" value="User name field is required" />
	<parameter name="Passwordtooltip" value="Password field is required" />

	<!-- Create Application required error messages -->
	<parameter name="Requiredfields_errorMessagess" value="Please Fill The Following Fields.
		Loan Applied must be between 5,000 and 1,000,000
		Loan term is required
		Source is required
		Main Guarantor
		Title is required
		Forename is required
		Surname is required
		Date of Birth is required
		Mobile is required
		Email is required
		Company
		Company name is required
		Registration number is required
		Business type is required
		Incorporation Date is required
		Registered Address
		At least one is required Property,Building Name or Sub Building Name
		Post code is required" />
		
		
		<!-- Create Application Page Text fields -->
		<parameter name="CommText" value="Company" />
		<parameter name="CommName" value="New Acres Development ltd" />
		
		
	<listeners>
		<listener class-name="com.em.common.TestListeners"></listener>
	</listeners>
	<test name="New.test.Project">
		<classes>
			<class name="com.em.common.BrowsersFactory" />
			<class name="com.em.testcases.LoginPage_TestCases" />
			<class name="com.em.testcases.CallLog_Windows_TestCases" />
			<class name="com.em.testcases.CreateApplication_TestCases" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
