<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Emerald Complete Testing Flow" />

	<!-- Browser Data -->
	<parameter name="browser" value="chrome" />

	<!-- URL Links and Data -->
	<parameter name="URL" value="https://emeralddev.cubefunder.com/" />
	<parameter name="CreateApplication_URL" value="https://emeralddev.cubefunder.com/applications" />

	<!-- Navigated Pages title Data -->
	<parameter name="LoginExpectedtitle" value="Emerald | Login" />
	<parameter name="CreateApplication_Expectedtitle" value="Emerald | Application" />

	<!-- Username and password Data -->
	<parameter name="ValidUsername" value="zulfiqar" />
	<parameter name="ValidPassword" value="Us@12e34" />
	<parameter name="InvalidUsername" value="Abcd123456" />
	<parameter name="InvalidPassword" value="123456Abcdef" />

	<!-- Login Page Text and error message Data -->

	<parameter name="LoginText" value="Log In" />
	<parameter name="Usernametooltip" value="User name field is required" />
	<parameter name="Passwordtooltip" value="Password field is required" />

	<!-- Create Application required error messages -->
	<parameter name="Requiredfields_errorMessagess" value="Please Fill The Following Fields.
		Loan Applied must be between 5,000 and 1,000,000
		Loan term is required
		Source is required
		Main Guarantor
		Title is required
		Forename is required
		Surname is required
		Date of Birth is required
		Mobile is required
		Email is required
		Company
		Company name is required
		Registration number is required
		Business type is required
		Incorporation Date is required
		Registered Address
		At least one is required Property,Building Name or Sub Building Name
		Post code is required" />
		
		
		<!-- Create Application Page Text fields -->
		<!-- Create Application Company Details -->
		<parameter name="CommText" value="Company" />
		<parameter name="CommName" value="New Acres Development ltd" />
		
		<!-- Create Application Page Forename fields details -->
		<parameter name="Valid_ForeName" value="Deborah" />
		<parameter name="Invalid_ForeName" value="12@" />
		<parameter name="Invalid_ForeName1" value="A" />
		<parameter name="tooltipforenamemsg1" value="Forename is invalid" />
		<parameter name="tooltipforenamemsg2" value="Only alphabets and hyphen '-',' are allowed" />
		<parameter name="tooltipforenamemsg3" value="'Main Guarantor. Forename' must be between 2 and 50 characters. You entered 1 characters." />
		
		<!-- Create Application Page Middlename fields details -->
		<parameter name="Valid_MiddleName" value="Susan" />
		<parameter name="Invalid_MiddleName" value="12@" />
		<parameter name="Invalid_MiddleName1" value="A" />
		<parameter name="tooltipmiddlenamemsg1" value="Middle Name is invalid" />
		<parameter name="tooltipmiddlenamemsg2" value="Only alphabets, hyphen and apostrophe are allowed" />
		<parameter name="tooltipmiddlenamemsg3" value="'Main Guarantor. Middle Name' must be between 2 and 50 characters. You entered 1 characters." />
		
		
		<!-- Create Application Page Surname fields details -->
		<parameter name="Valid_SurName" value="Nabi" />
		<parameter name="Invalid_SurName" value="12@" />
		<parameter name="Invalid_SurName1" value="A" />
		<parameter name="tooltipsurnamemsg1" value="Surname is invalid" />
		<parameter name="tooltipsurnamemsg2" value="Only alphabets and hyphen -' are allowed" />
		<parameter name="tooltipsurnamemsg3" value="'Main Guarantor. Surname' must be between 2 and 50 characters. You entered 1 characters." />
		
	<listeners>
		<listener class-name="com.em.common.TestListeners"></listener>
	</listeners>
	<test name="New.test.Project">
		<classes>
			<class name="com.em.common.BrowsersFactory" />
			<class name="com.em.testcases.LoginPage_TestCases" />
			<class name="com.em.testcases.CallLog_Windows_TestCases" />
			<class name="com.em.testcases.CreateApplication_MG_TestCases" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
